ul {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.lang-nav {
  display: flex;
  justify-content: center;
}

btn-lang-dark {
  color: white;
}
