.user-info {
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #95dada;
    padding: 25px;
    cursor: pointer;
    transition: transform 0.25s ease-out;
    overflow: hidden;
}

.user-info:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

span.heading {
    font-weight: bolder;
} 